/* Loader animation */
.loader {
  border-top-color: #62ff6a;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.bg-cream {
  background-color: #FAF3DD;
}

.bg-bluee{
  background-color: #82B2C0;
}

.bg-other{
  background-color: #F2EAE0;
}
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Additional custom styles can be added here */ 